<!--
  ~ Mr.Mantou - On the importance of taste
  ~ Copyright (C) 2015-2016  XiNGRZ <xxx@oxo.ooo>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ooo.oxo.mr">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <!-- 统计 SDK -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MrApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d00aa3e0f55a30940030e7" />

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="5b82d31950698639c4a69bd46250cbc2" />

        <meta-data
            android:name="ooo.oxo.mr.net.AVFileGlideModule"
            android:value="GlideModule" />

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ViewerActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ViewerTheme" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:theme="@style/AboutTheme" />

        <provider
            android:name=".ImageFileProvider"
            android:authorities="${applicationId}.images"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/images" />

        </provider>

    </application>

</manifest>
